<<<<<<< HEAD
.back{
    background-image: url('../../assets/fundoVerdeRoxo.png');
    background-size: 125%;
    height: 896vh;
    background-repeat: no-repeat;   
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 60px;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    color: white;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.formulario-container {
    margin: 0 auto;
    margin-top: 55px;
    max-width: 300px;
    padding: 30px;
    border-radius: 35px;
    background-color: #f9f9f9;
    margin-bottom: 65px;
  }
  
  .form-group {
    margin-bottom: 10px;
    margin-top: 25px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: rgb(106, 106, 106);
  }
  
  input[type="text"],
  input[type="password"] {
    width: 88%;
    padding: 17px;
    margin-top: 5px;
    border: 1px solid #e2b1e665;
    border-radius: 15px;
    background-color: #e2b1e665;
  }
  
  button {
    background-color: #E2B1E6;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 57px;
    }

    h4{
        margin-left: 10px;
        margin-top: 10px;
        color: rgb(106, 106, 106);
        font-size: 15px;
    }
  
  
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
}

.MiniTexto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

.LinkSenha{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
>>>>>>> 10eaba776ab34084a661621861719b0539d1f35a
