img{
    padding-top: 80px;
    padding-left: 20px;
}

.fundo{
    background-color: #bce1be;
    border-radius: 40px 40px 0px 0px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button{
    background-color: #E2b1e6;
    margin-top: 110px;
    font-size: 30px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px 60px;
    border-radius: 15px;
    border-color: #E2b1e6;
}

.button2{
    background-color: #E2b1e6;
    margin-top: 35px;
    font-size: 30px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px 30px;
    border-radius: 15px;
    border-color: #E2b1e6;
}